#body::-webkit-scrollbar-track {
	border: 1px solid #F3E2B0;
	background-color: rgba(0, 0, 0, 0.1);
}

#body::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

#body::-webkit-scrollbar-thumb {
  background-color: rgba(243, 226, 176, 0.5);
}

#body::-webkit-scrollbar-thumb:active {
  background-color: rgba(243, 226, 176, 1);
}
