
{% extends "base.html" %}

{% load static %}

{% block title %}Dealerships{% endblock %}

{% block section %}

<div id="packages-section" class="section">
  <div class="card">
    <h1>Dealerships</h1>
    <p>
      Our dealership services go beyond our standard packages. Because
      dealerships are a convenient place to work on cars, we are able
      to offer services at more competitive rates than our standard packages.
    </p>
    <p>
      Below is an overview of services we think you'll like. For more in-depth
      descriptions, navigate over to the standard packages we offer to our
      residential customers.
    </p>
    <br>
    <h2>Services:</h2>
    <ul>
      <li><span class="bold yellow-text">Interior:</span> We have what it takes to make interiors look their best.</li>
      <li><span class="bold yellow-text">Wax:</span> Affordably make your vehicles shine.</li>
      <li><span class="bold yellow-text">Compound:</span> Restore paint by removing scratches.</li>
      <li><span class="bold yellow-text">Wet-sand:</span> For the scratches you thought would never come out.</li>
      <li><span class="bold yellow-text">Ceramic:</span> Top-notch protection for top-notch vehicles.</li>
    </ul>
  </div>
</div>

{% endblock %}
