{% load custom_tags %}

<!DOCTYPE html>
<html>
<body style="background: #182126; padding: 50px; width: 500px">
  <div style="width: 100%">
    <div id="logo">
      <a href="http://butteryaf.com/">
        <img style="width: 240px" src="http://butteryaf.com/static/images/logo_long_tagline.png">
      </a>
    </div>
    <div id="social-media">
      <a href="https://www.facebook.com/Buttery-Automotive-Finishes-949553905203942/">
        <img style="width: 50px; margin-right: 10px" src="http://butteryaf.com/static/images/Facebook50.png">
      </a>
      <a href="https://twitter.com/buttery_af">
        <img style="width: 50px; margin-right: 10px" src="http://butteryaf.com/static/images/Twitter50.png">
      </a>
      <a href="https://www.instagram.com/butteryautomotivefinishes/">
        <img style="width: 50px; margin-right: 10px" src="http://butteryaf.com/static/images/Instagram50.png">
      </a>
      <a href="https://www.snapchat.com/add/butteryfinishes">
        <img style="width: 50px; margin-right: 10px" src="http://butteryaf.com/static/images/Snapchat50.png">
      </a>
    </div>
  </div>
  <div style="color: #F3E2B0; font-family: helvetica;">
    <p>
      Thank you for making an appointment with us! Please
      Review the details below to make sure everything is
      correct. You can expect a confirmation call from us
      the day before your appointment.
    </p>
    <p>
      For any questions or concerns, please contact us.
      Call / Text: (330) 541-7196, Email: support@butteryaf.com
    </p>
    <br>
    <h4>Appointment Details:</h4>
    {% for field, value in post_data.items %}
      {% if field == 'availability' %}
        <p>Date: {{ availability_date }} </p>
      {% elif field == 'package' %}
        <p>Package: {{ package_name }} </p>
      {% elif field != 'csrfmiddlewaretoken' and field != 'months' and field != 'email' %}
        <p>{{ field|field_name }}: {{ value }} </p>
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>