
{% load static %}
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'appointments/appointments.css' %}" />
<html>
  <head>
    <script>
      window.onerror = function(message, source, lineno, colno, error) {
        alert(message);
        alert(source);
        alert(lineno);
        alert(colno);
        alert(error);
      };
    </script>
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'appointments/appointments.js' %}"></script>
    <!-- <script src="http://192.168.0.10:1337/vorlon.js"></script> -->
  {% comment %} <script>
    function navigationOnClick(event) {
      alert('asdf')
      $('.navigation-button').removeClass('selected');
      event.target.classList.add('selected');

      $('.section').hide();
      if (event.target.id === 'home-button') {
        $('#home-section').show();
      }
      else if (event.target.id === 'packages-button') {
        $('#packages-section').show();
      }
      else if (event.target.id === 'appointments-button') {
        $('#appointment-section').show();
      }

      // return false;
    }
  </script> {% endcomment %}
  <title>
    Buttery Automotive Finishes
  </title>
</head>
<body>
<img id="foreground-car" src="../../../static/images/porsche_for_web_tiny.png">
<div id="container">
  <div id="content">
    <div id="header">
      <div id="logo-container" class="mask">
        <a>
          <img id="logo-image" src="../../../static/images/logo_long_tagline.png">
        </a>
      </div>
      <div id="navigation">
        <ul id="navigation-ul">
          <li class="navigation-li">
            <button id="home-button" class="navigation-button selected" onclick="">
              Home
            </button>
          </li>
          <li class="navigation-li" onclick="">
            <button id="packages-button" class="navigation-button" onclick="">
              Packages
            </button>
          </li>
          <li class="navigation-li">
            <button id="appointments-button" class="navigation-button" onclick="">
              Appointments
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div id="body">
      <div id="home-section" class="section">
        <div class="card">
          <h1>What</h1>
          <p>
            kasdjfl jasdkfjasdlkfj asldj k;falskd jfalskj dfslk djfalksjd
            akls dflasj dflkjasdfjasdkl fjakls jdfalksjdf aksjdf asjdf ;alskdjf
            a lskdfjlaks jdflkajs dfoinwoimc w em c mc ljwoec
          </p>
        </div>
        <div class="card">
          <h1>Why</h1>
          <p>
            kasdjfl jasdkfjasdlkfj asldj k;falskd jfalskj dfslk djfalksjd
            akls dflasj dflkjasdfjasdkl fjakls jdfalksjdf aksjdf asjdf ;alskdjf
            a lskdfjlaks jdflkajs dfoinwoimc w em c mc ljwoec  dfioje wmcklw ecw
            w ecweic mwoiemcwoiemcow  mcsdcskjcx,cljclqjiqwqw
            qwd qwqlkwmxqlkwmxl qwmoi qwxioqwoiqjwoixjqow
          </p>
        </div>
      </div>
      <div id="packages-section" class="section hidden">
        {% for package in package_list %}
          <div class="card">
            <h1>{{ package.name }}</h1>
            <p class="package-description">{{ package.description }}</p>
          </div>
        {% endfor %}
      </div>

      <div id="appointment-section" class="section hidden">
        <div class="card">
          <h1 id="creation-header">Make an Appointment:</h1>
          <h1 id="review-header" class="hidden">Review Appointment:</h1>
          <h1 id="edit-header" class="hidden">Edit Appointment:</h1>
          <form id="appointment-form" action="" method="POST">
            <ul id="form-errors"></ul>
            {% csrf_token %}
            {% for field in form %}
              {% if field.name == 'package' %}
                {% for package in package_list %}
                  <p>
                    <label>
                      <input type="radio" name="package" value="{{ package.id }}">
                      {{ field.label }} {{ package.id }}
                    </label>
                  </p>
                {% endfor %}
              {% elif field.name == 'availability' %}
                <p>
                  <button type="button" id="show-availabilities">
                    Show Availabilities
                  </button>
                  <div id="{{ field.name }}">
                    <!-- Availability buttons go here -->
                  </div>
                </p>
              {% else %}
                <p>
                  <label>
                    {{ field.label }}:
                  </label>
                  {{ field }}
                </p>
              {% endif %}
            {% endfor %}
            <button type="button" id="review-appointment">Review</button>
            <button type="button" id="edit-appointment" class="hidden">Edit</button>
            <button type="submit" id="submit-appointment" class="hidden">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div id="appointment-receipt" class="hidden">
      <h1>Thank you for making an appointment!</h1>
      <p>--Further instructions here--</p>
      <button type="button" id="back-to-home">Home</button>
    </div>
  </div>
</div>

{% comment %} <pre>{% filter force_escape %}{% debug %}{% endfilter %}</pre> {% endcomment %}
</body>
</html>
