
{% load static %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'appointments/appointments.css' %}" />
<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'appointments/appointments.js' %}"></script>
<html>
<head>
  <title>
    Buttery Automotive Finishes
  </title>
</head>
<body onload="initialize();">
<h1>Buttery!</h1>
<h3>Automotive Finishes</h3>
<br>
<br>
<div id="packages">
  <h4>Packages:</h4>
  <br>
  {% for package in package_list %}
    <h5>{{ package.name }}</h5>
    <p class="package-description">{{ package.description }}</p>
    <br>
  {% endfor %}
  <br>
</div>

<div id="appointment-creation">
  <h4 id="creation-header">Make an Appointment:</h4>
  <h4 id="review-header" class="hidden">Review Appointment:</h4>
  <h4 id="edit-header" class="hidden">Edit Appointment:</h4>
  <form id="appointment-form" action="" method="POST">
    <ul id="form-errors"></ul>
    {% csrf_token %}
    {% for field in form %}
      {% if field.name == 'package' %}
        {% for package in package_list %}
          <p>
            <label>
              <input type="radio" name="package" value="{{ package.id }}">
              {{ field.label }} {{ package.id }}
            </label>
          </p>
        {% endfor %}
      {% elif field.name == 'availability' %}
        <p>
          <button type="button" id="show-availabilities">
            Show Availabilities
          </button>
          <div id="{{ field.name }}">
            <!-- Availability buttons go here -->
          </div>
        </p>
      {% else %}
        <p>
          <label>
            {{ field.label }}:
          </label>
          {{ field }}
        </p>
      {% endif %}
    {% endfor %}
    <button type="button" id="review-appointment">Review</button>
    <button type="button" id="edit-appointment" class="hidden">Edit</button>
    <button type="submit" id="submit-appointment" class="hidden">Submit</button>
  </form>
</div>

<div id="appointment-receipt" class="hidden">
  <h4>Thank you for making an appointment!</h4>
  <p>--Further instructions here--</p>
  <button type="button" id="back-to-home">Home</button>
</div>

{% comment %} <pre>{% filter force_escape %}{% debug %}{% endfilter %}</pre> {% endcomment %}
</body>
</html>
