
{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}Packages{% endblock %}

{% block section %}

<div id="packages-section" class="section">
  <div class="card">
    <h1>Schedule an appointment today!</h1>
    <div id="special-body">
      <ul>
        <li>
          <span class="bold yellow-text">Call / Text: </span>
          (330) 541-7196
        </li>
        <li>
          <span class="bold yellow-text">Email: </span>
          support@butteryaf.com
        </li>
      </ul>
      <br>
    </div>
  </div>
  {% for package in packages %}
    <div class="card">
      <h1>
        {{ package.service_type }} -
        <span class="yellow-text">${{ package.price }}</span>
      </h1>
      <span class="bold yellow-text">What is this?</span>
      <p class="cream-text">{{ package.overview }}</p>

      <span class="bold yellow-text">How is it done?</span>
      <p class="package-description">{{ package.description }}</p>
      {% if package.upgrade_name != '' %}
        <span class="bold yellow-text">
          {{ package.upgrade_name }} for ${{ package.upgrade_price }}
        </span>
        <p class="package-description">
          {{ package.upgrade_description }}
        </p>
      {% endif %}
    </div>
  {% endfor %}
  <div class="card">
    <h1>If you can't find what you're looking for, ask us!</h1>
    <div id="special-body">
      <ul>
        <li>
          <span class="bold yellow-text">Call / Text: </span>
          (330) 541-7196
        </li>
        <li>
          <span class="bold yellow-text">Email: </span>
          support@butteryaf.com
        </li>
      </ul>
      <br>
    </div>
  </div>
</div>

{% endblock %}
