body {
  z-index: 0;
  margin: 0;
  padding: 0;
  background: #000000;
}

h1, h2, p {
  color: #F3E2B0;
}

#background-car {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 25px;
  right: 0;
  bottom: -125px;
  z-index: 100;
  width: 1950px;
  height: calc(0.63405797101 * 1950px);
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('../../../static/images/background_car.png');
}

#foreground-car {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 25px;
  right: 0;
  bottom: -125px;
  z-index: 400;
  width: 1950px;
  height: calc(0.27053140096 * 1950px);
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('../../../static/images/foreground_car_cropped.png');
}

#middleground-page {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 0;
  width: 850px;
  height: 100%;
  padding: 0px 50px;
  background: #182126;
  z-index: 200;
  border-radius: 10px;
}

#content {
  position: relative;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 850px;
  height: 100%;
  z-index: 300;
}

#logo {
  display: inline-block;
  position: relative;

  /* For Centering the logo (trash) */
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; */

  /* width: 386px;
  height: calc(0.48963730569 * 386px);
  background-image: url('../../../static/images/logo_short_tagline.png'); */

  width: 410px;
  height: calc(0.39495798319 * 410px);
  background-image: url('../../../static/images/logo_long_tagline.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* logo and navigation */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nav container */
#navigation {
  display: inline-block;
  margin-left: auto;

}

#navigation #navigation-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navigation #navigation-ul .navigation-li {
  display: flex;
}

#navigation #navigation-ul .navigation-li button {
  margin: 5px;
  width: 180px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #F3E2B0;
  opacity: 0.2;
  color: #182126;
  border: none;
}

#navigation #navigation-ul .navigation-li button:focus {
  outline: none;
}

#navigation #navigation-ul .navigation-li button:active {
  opacity: 1;
}

/* Nav radio button label when pressed */
#navigation #navigation-ul .navigation-li .selected {
  background-color: #F3E2B0;
  opacity: 0.8;
}

.hidden {
  display: none;
}

.package-description {
  width: 700px
}

